body {
    margin: 0;
    overflow: hidden;
    background: transparent;
}

#character {
    width: 116px;
    height: 160px;
    background-image: url('./character/idle-export.gif');
    /* background-size: calc(64px * 12) 64px;; */
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.hidden {
    display: none;
}