.config-window {
    padding: 10px;
}

section {
    padding-bottom: 10px; 
    border-bottom: 2px solid #9b80ab;
}
section:last-child {
    border-bottom: none;
}

.section-title {
    font-size: 24px;
    margin: 6px 0;
}
section:first-of-type .section-title {
    margin-top: 0;
}

button {
    background-color: #f9f4fd;
    
    border-radius: 8px;
    border: 8px solid transparent;
    border-image: url('../ui/buttons/button.png') 8 stretch;

    image-rendering: pixelated;
}

.repo-element {
    margin: 10px 0;
}

.repo-main-title {
    display: inline-block;
    font-size: 16px;
    margin: 0;
}

.repo-path-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.repo-path {
    font-size: 12px;
    color: gray;
    flex-grow: 1;
    
    word-break: break-word;
    flex: 1 1 auto;
    min-width: 0;
}

.repo-delete {
    border: none;
    border-radius: 0;
    width: 26px;
    height: 26px;
    background-color: transparent;
    background-image: url("../ui/buttons/delete-btn.png");
    image-rendering: pixelated;
    
    transition: transform 0.8s ease-in-out;
}
.repo-delete:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.times-list {
    margin-bottom: 10px;
}
.times-list input[type="number"] {
    width: 60px;
}

.titlebar {
    background-image: url('../ui/windows/titlebar-config.png');
    background-repeat: no-repeat;
    background-color: transparent;
}