body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.config-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

section {
    padding-bottom: 16px; 
    border-bottom: 2px solid #9b80ab;
}
section:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.section-title {
    font-size: 24px;
    margin: 6px 0;
}
section:first-of-type .section-title {
    margin-top: 0;
}

section button {
    background-color: #f9f4fd;
    
    border-radius: 8px;
    border: 8px solid transparent;
    border-image: url('../ui/buttons/button.png') 8 stretch;

    image-rendering: pixelated;
}
section button:hover {
    cursor: pointer;
    background-color: #e9dfea;
}
section button:active {
    background-color: #9b80ab;
}

#git-list {
    background-color: #e9dfea;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 200px;
    padding-right: 4px;
    border: 4px solid #e9dfea;
    border-radius: 4px;
    margin-bottom: 10px;
}

#git-list::-webkit-scrollbar {
    width: 8px;
}
#git-list::-webkit-scrollbar-thumb {
    background-color: #9b80ab;
    border-radius: 2px;
}

.repo-element {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.repo-path-container {
    flex-grow: 1;
}

.repo-main-title {
    display: inline-block;
    font-size: 16px;
    margin: 0;
}

.repo-path {
    margin: 8px 0;
    font-size: 12px;
    color: gray;
    
    word-break: break-word;
    min-width: 0;
}

.repo-delete {
    border: none;
    border-radius: 0;
    width: 26px;
    height: 26px;
    background-color: transparent;
    background-image: url("../ui/buttons/delete-btn.png");
    image-rendering: pixelated;
    
    transition: transform 0.3s ease-in-out;
}
.repo-delete:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.time-input-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 12px;
}

.time-input {
    border: none;
    border-radius: 4px;
    background-color: #e9dfea;
    padding: 4px;
    text-align: center;
}

.titlebar {
    background-image: url('../ui/windows/titlebar-config.png');
    background-repeat: no-repeat;
    background-color: transparent;
}