body {
    background: transparent;
    display: flex;
    overflow: hidden;
}

#character {
    width: 116px;
    height: 160px;
    background-image: url('../character/idle.gif');
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.task-btn {
    border: none;
    border-radius: 0;
    width: 54px;
    height: 36px;
    background-image: url('../ui/task-btn.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
