@font-face {
  font-family: PixelFont;
  src: url(../rainyhearts.ttf);
}

body {
    margin: 0;

    font-family: PixelFont;
    font-size: 16px;
}

button {
    font-family: PixelFont;
    font-size: 16px;
}

.titlebar {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: end;
    padding: 4px;
    border-bottom: 2px;
    -webkit-app-region: drag;
}

.titlebar > .window-title {
    flex-grow: 1;
}

.titlebar button {
    border: none;
    font-size: 16px;
    -webkit-app-region: no-drag;
}

.titlebar button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}