body {    
    height: 100vh;
}

.task-table {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px 12px;
    padding: 4px;
    justify-content: space-between;
    overflow: hidden;

    background-color: #f9f4fd;
    
    border-radius: 10px;
    border: 10px solid transparent;
    border-image: url('../ui/window-background-round.png') 10 stretch;

    image-rendering: pixelated;
}

.task-table button {
    width: 100%;
    height: 100%;
    font-size: 16px;
    box-sizing: border-box;

    background-color: #f9f4fd;
    
    border-radius: 10px;
    border: 8px solid transparent;
    border-image: url('../ui/buttons/button.png') 8 stretch;
    
    image-rendering: pixelated;
}

.task-table button:hover {
    cursor: pointer;
    background-color: #e9dfea;
}
.task-table button:active {
    background-color: #9b80ab;
}


.task-table button:hover {
    cursor: pointer;
}