body {
    -webkit-app-region: drag;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    -webkit-app-region: no-drag;
}

button:hover {
    cursor: pointer;
}

main {
    background-color: #f9f4fd;
    height: 100%;
}

.timer-window {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
}

.start-btn-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.start-btn {
    width: 80px;
    height: 40px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(61, 51, 70);
    color: white;
    font-size: 24px;
}

#time-value {
    margin: 10px 0;
    font-size: 48px;
}

.time-btn {
    border: none;
    padding: 6px;
    background-color: rgb(95, 76, 67);
    color: rgb(243, 239, 229);
}

.titlebar {
    background-image: url('../ui/windows/titlebar-timer.png');
    background-repeat: no-repeat;
    background-color: transparent;
}