body {
    -webkit-app-region: drag;
}

button {
    -webkit-app-region: no-drag;
}

.timer-window {
    background-color: wheat;
}

.start-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(61, 51, 70);
    color: white;
    font-size: 32px;
    display: inline-block;
}